html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  /*border: 1px solid black;*/
}

body {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  margin: 0px;
  padding: 0px;
  background-color: red;
  background: url("http://moviehole.net/img/Avengers-Infinity-War-cast.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
}

header #title {
  font-size: 1.5em;
  text-align: center;
  font-family: 'Bangers', cursive;
  color: white;
  letter-spacing: 0.10em;
}

.container {
  width: 75%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 10px;
  padding: 50px;
  border: 5px solid #0E7FC5;
  border-radius: 50px;
  margin-bottom: 20px;
  background-color: rgba(255,255,255,0.95);
}

.container p {
  font-family: 'Bangers', cursive;
  text-align: center;
  border: 2px solid #0E7FC5;
  border-radius: 10px;
  padding: 10px;
}

#description {
  align-self: center;
}

#survey-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: space-between;
  font-family: 'Aldrich', sans-serif;
}

#survey-form #about-you{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto auto;
  grid-row-gap: 10px;
  justify-items: stretch;
  align-items: stretch;
}

#survey-form #about-you label {
  padding: 8px;
}

.required {
  color: red;
}

fieldset {
  border: 2px solid #0E7FC5;
}

#survey-form #favorite-movie-options div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#survey-form #favorite-movie-options div label {
  margin: 4px;
}

#survey-form #favorite-avenger-options div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, auto);
}

#survey-form #favorite-avenger-options div label {
  margin: 4px;
}

#survey-form #dropdown {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

.form-item-margin {
  margin: 10px;
}

#textarea {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

#submit {
  padding: 10px;
  font-family: 'Aldrich', sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  border: 1px solid #0E7FC5;
  background-color: #0E7FC5;
  border-radius: 5px;
  color: white;
}

#submit:hover {
  background-color: #0f73c4;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  color: white;
  font-family: 'Aldrich', sans-serif;
  padding-top: 10px;
}

footer p {
   font-weight: bold;
}

.footer-link {
  padding: 0 15px 0 15px;
}

.footer-link:link,
.footer-link:active,
.footer-link:visited {
  text-decoration: none;
  color: #f9f9f9;
}

.footer-link:hover {
  color: #0f73c4;
}

@media only screen and (max-width: 500px) {
  #survey-form #about-you{
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 365px) {
  #survey-form #favorite-avenger-options div{
    display: flex;
    flex-direction: column;
  }
}
